body {
  font-family: "Overlock";
  background-color: #252422;
}

h1 {
  font-family: "Carter One";
}

main {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  background-color: rgb(37, 36, 34);
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 1em 3em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rgb(235, 94, 40);
}

h4 {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.food {
  width: 200px;
}

.Snack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: rgb(255, 252, 242);
  box-shadow: 5px 5px 10px;
  margin: 10px;
}

.Snacks article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.Snacks div {
  padding: 1em;
  background-color: rgb(255, 252, 242);
  border: 1px solid #DA6739;
}

.Show {
  padding: 1em;
  background-color: rgb(255, 252, 242);
}

.New {
  padding: 1em;
  background-color: rgb(255, 252, 242);
  border: 1px solid #DA6739;
}

.Edit {
  padding: 1em;
  background-color: rgb(255, 252, 242);
  border: 1px solid #DA6739;
}

tbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.hearts {
  width: 50px;
}

tr { 
  transition: all .2s ease-in-out; 
  }
  
  tr:hover { 
  transform: scale(1.1); 
  }


.snack-details aside {
  text-decoration: underline;
}

.snack-details aside h2 {
  display: inline;
}

.snack-details aside img {
  display: inline;
  padding-left: 10px;
}

.snack-details article{
  text-align: center;
}

  @media (max-width: 1100px) {
    tbody {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 930px) {
    tbody {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 470px) {
    tbody {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
