body {
  font-family: "Overlock";
}

h1 {
  font-family: "Carter One";
}

main {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  background-color: rgb(37, 36, 34);
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 1em 3em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rgb(235, 94, 40);
}

h4 {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.food {
  width: 200px;
}

.Snack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: rgb(255, 252, 242);
  box-shadow: 5px 5px 10px;
  margin: 10px;
}

tbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.hearts {
  width: 50px;
}
